* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #009688, #009688 0, #009688 15vh, #DADBD2 15vh, #DADBD2 100vh);
}

.ms_main_container {
    display: flex;
    width: 80vw;
    height: 90vh;
    min-width: 500px;
}

.ms_main_left {
    width: 35%;
    height: 100%;
    background-color: blanchedalmond;
}

.ms_main_right {
    width: 65%;
    height: 100%;
    background-color: blue;
}

.users_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#user {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 5px 10px;
    background-color: #EAEAEA;
}

#user .user_img_name {
    display: flex;
    align-items: center;
}
#user .user_img_name h4 {
    margin-left: 10px;
}

#user .ms_user_icons i {
    font-size: 1.2em;
    color: #B1B1B1;
    margin-left: 10px;
}

#user_notification {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #8EDAFC;
    padding: 5px 15px;
}

#user_notification .notification_bell {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 60px;
    text-align: center;
    margin-right: 10px;
}
#user_notification .notification_bell i {
    font-size: 1.4em;
    color: #8EDAFC;
}

#user_notification .notification_text a {
    font-size: 0.8em;
    color: #808080;
}

#user_search {
    width: 100%;
    height: 5%;
    background-color: #FAFAFA;
}

#user_search .search_input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 5px;
}
#user_search .search_input button {
    padding: 5px 25px;
    background-color: #fff;
    border: 1px solid #c7c6c63b;
    
}
#user_search .search_input input{
    width: 100%;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #c7c6c63b;
}

#user_messages {
    width: 100%;
    height: 75%;
    background-color: #FAFAFA;
}