* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to bottom, #009688, #009688 0, #009688 15vh, #DADBD2 15vh, #DADBD2 100vh);
}

.ms_main_container {
    display: flex;
    width: 80vw;
    height: 90vh;
}

#ms_main_left {
    width: 35%;
    height: 100%;
    border-right: 1px solid #d1d0d0;
}

#ms_main_right {
    width: 65%;
    height: 100%;
}

.users_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

h4 {
    font-weight: 500;
}

/* LEFT PANEL */
#user,
#active_chat_user {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 5px 10px;
    background-color: #EAEAEA;
}

#user .user_img_name,
#active_chat_user .active_user_img_name {
    display: flex;
    align-items: center;
}
#user .user_img_name h4,
#active_chat_user .active_user_img_name .active_user_info {
    margin-left: 10px;
}

#user .ms_user_icons i,
#active_chat_user .ms_active_user_icons i {
    font-size: 1.2em;
    color: #B1B1B1;
    margin-left: 10px;
}

#user_notification {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #8EDAFC;
    padding: 5px 15px;
}

#user_notification .notification_bell {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 60px;
    text-align: center;
    margin-right: 10px;
}
#user_notification .notification_bell i {
    font-size: 1.4em;
    color: #8EDAFC;
}

#user_notification .notification_text a,
#active_chat_user .active_user_img_name .active_user_info p  {
    font-size: 0.8em;
    color: #808080;
}

#user_search {
    width: 100%;
    height: 5%;
    background-color: #FAFAFA;
}

#user_search .search_input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 5px;
}
#user_search .search_input button {
    padding: 5px 25px;
    background-color: #fff;
    border: 1px solid #c7c6c63b;
    
}
#user_search .search_input input{
    width: 100%;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #c7c6c63b;
}

#user_messages {
    width: 100%;
    height: 75%;
    background-color: #FAFAFA;
    overflow-y: scroll;
}

#user_messages ul {
    list-style: none;
    max-height: 500px;
    overflow-y: auto;
}

#user_messages ul li {
    display: flex;
    border-bottom: 1px solid #E9EBEB;
    padding: 5px 15px;
    cursor: pointer;
}
#user_messages ul li:hover {
    background-color: #f3f3f3;
}

#user_messages ul li .message {
    position: relative;
    width: 100%;
    height: 50px;
    margin-left: 15px;
}
#user_messages ul li .message p {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.8em;
}
#user_messages ul li .message span {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #b9b9b9;
    font-size: 0.6em;
}

#user_messages ul li:first-child {
    border-top: 1px solid #E9EBEB;
}

#user_messages ul li.activeContact {
    background-color: #E9EBEB;
}

#user_messages .add_new_contact {
    margin-top: 20px;
    text-align: center;
}
#user_messages .add_new_contact button {
    padding: 5px 10px;
    margin-top: 10px;
}

/* RIGHT PANEL */
#active_chat_user i.fa-video {
    cursor: pointer;
}
#active_chat_user i.fa-video:hover,
#active_chat_user #back:hover {
    color: #009688;
}

#active_chat_user p.is_writing,
#active_chat_user p.is_calling {
    display: none;
}

#active_chat_user p.is_writing.active,
#active_chat_user p.is_calling.active {
    display: block;
}

#chat {
    width: 100%;
    background-image: url('../../img/mine.jpg');
    height: 82%;
    background-attachment: local;
    background-size: 60%;
    background-repeat: repeat;
    background-position: center;
    padding-top: 20px;
}

#back {
    display: none;
    color: #B1B1B1;
    font-size: 1.2em;
    margin-right: 10px;
    cursor: pointer;
}

#chat .chat_container {
    width: 100%;
    padding: 0 10%;
    height: 640px;
    margin: 0 auto;
    overflow-y: auto;
}

#chat .chat_container .single_message {
    width: 250px;
    padding: 10px;
    margin-top: 10px;
    font-size: 0.8rem;
    border-radius: 10px
}

#chat .chat_container .single_message.position_r {
    float: right; 
    clear: both;
    background-color: #D5F9BA;
}

#chat .chat_container .single_message.position_l {
    float: left;
    clear: both;
    background-color: #fff;
}

#chat .chat_container .single_message.delete_message {
    display: none;
}

#chat .chat_container .single_message.new_chat {
    width: 100%;
    background-color: #cfcfcf75;
}

#chat .chat_container .single_message.new_chat #ms_message {
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600;
}

#chat .chat_container .single_message .text_message_container {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#ms_message {
    display: flex;
    align-items: center;
}

#chat .chat_container .single_message .text_message_container .text {
    max-width: 100%;
}

#chat .chat_container .single_message .text_message_container .message_date {
    align-self: flex-end;
    font-size: 0.6em;
    color: #808080;
}

#chat .chat_container .single_message .text_message_container i.fa-chevron-down {
    position: absolute;
    right: 0;
    top: 0;
    color: #808080;
    visibility: hidden;
}

#chat .chat_container .single_message .text_message_container:hover > i {
    visibility: visible;
}

#chat .chat_container .single_message .text_message_container .message_info {
    position: absolute;
    right: 0;
    top: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 4px #808080;
    z-index: 100;
    cursor: pointer;
}
#chat .chat_container .single_message .text_message_container .message_info ul {
    list-style: none;
}
#chat .chat_container .single_message .text_message_container .message_info ul li {
    padding: 10px;
}
#chat .chat_container .single_message .text_message_container .message_info ul li:hover {
    background-color: #E9EBEB;
}

#typing_new_message {
    display: flex;
    align-items: center;
    height: 8%;
    width: 100%;
    background-color: #F3EEEA;
    padding: 5px;
}

#typing_new_message button {
    padding: 10px 30px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #F3EEEA;
}
#typing_new_message button i {
    font-size: 1.5em;
    color: #808080;
}

#typing_new_message input,
#typing_new_message textarea {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
}

#typing_new_message button.send_message {
    display: none;
}

#typing_new_message textarea:focus {
    outline: none;
}

#typing_new_message textarea:valid ~ button.send_message {
    display: inline-block;
}

#mic {
    position: relative;
}

#mic i.fa-trash-alt {
    display: none;
    color: red;
}

#mic i.fa-microphone,
#mic .recording span {
    display: none;
}

#mic i.fa-microphone.active_mic {
    display: block;
}

#mic.active .recording {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    color: #009688;
}

#mic.active i.fa-microphone {
    font-size: 1.8em;
    color: #009688;
}
#mic.active .recording span,
#mic.active i.fa-trash-alt {
    display: block;
}

i.fa-play {
    font-size: 1em;
    color: #B1B1B1;
}
div.ms_audio {
    width: 70%;
    height: 5px;
    background-color: #d4d4d4;
    margin: 0 5px;
    display: inline-block;
    border-radius: 2px;
}

#typing_new_message.hide,
#chat.hide,
#active_chat_user.hide {
    display: none;
}

#videocall {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
}
#videocall.active {
    display: inline-block;
}

#videocall .videocall_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#videocall .videocall_container .videocall_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 60%;
    padding-top: 20px;
    color: #009688;
    font-size: 2.5em;
    font-weight: 600;
}
#videocall .videocall_container .videocall_top img {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

#videocall .videocall_container .videocall_bottom {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}
#videocall .videocall_container .videocall_bottom button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}
#videocall .videocall_container .videocall_bottom button i {
    color: #fff;
}

/* MEDIA QUERY */
@media all and (max-width: 1024px) {
    .ms_main_container {
        width: 100vw;
        height: 100vh;
    }
}

/* tablet */
@media all and (max-width: 1024px) and (min-width: 640px) {
    #user .user_img_name h4 {
        font-size: 0.8em;
    }
    #user .ms_user_icons {
        display: flex;
        flex-direction: column;
    }
    #user .ms_user_icons i {
        font-size: 0.8em;
        margin-bottom: 5px;
    }

    #user_notification .notification_bell {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    #user_notification .notification_bell i {
        font-size: 0.8em;
    }
    #user_notification .notification_text p,
    #user_notification .notification_text a,
    #user_messages ul li .message p,
    #active_chat_user .active_user_img_name .active_user_info p {
        font-size: 0.6em;
    }
    
    #user_messages ul li .message span {
        display: none;
    }

    #chat .chat_container .message {
        width: 150px;
    }
}

/* mobile */
@media all and (max-width: 640px) {
    #ms_main_left.open {
        display: block;
        width: 100vw;
    }
    #ms_main_left.close {
        display: none;
    }
    #ms_main_right.open {
        display: block;
        width: 100vw;
    }
    #ms_main_right.close {
        display: none;
    }

    #back {
        display: inline-block;
    }
}