<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/master_bonus.css">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/emoji-button@latest/dist/index.min.js"></script>
    <title>Boolzapp Bonus</title>
</head>
<body>
    <div id="root" class="ms_main_container">
        <!-- left panel -->
        <div id="ms_main_left" :class="activeTab == 'left' ? 'open' : 'close'">
            <!-- user section -->
            <section id="user">
                <div class="user_img_name">
                    <img :src="avatarPath + myAccount.avatar + avatarImgType" :alt="myAccount.name" class="users_img">
                    <h4>{{myAccount.name}}</h4>
                </div>
                <!-- user icons -->
                <div class="ms_user_icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </section>

            <!-- notifications -->
            <section id="user_notification">
                <div class="notification_bell">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="notification_text">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </section>

            <!-- search -->
            <section id="user_search">
                <div class="search_input">
                    <button><i class="fas fa-search"></i></button>
                    <input id='search_field' type="text" placeholder="Cerca o inizia una nuova chat" v-model="findUsers" @keyup="isInContacts()">
                </div>
            </section>

            <!-- messages -->
            <section id="user_messages">
                <nav>
                    <ul>
                        <li v-for="(user, index) in contacts"
                            v-if="(user.name).toLowerCase().includes(findUsers.toLowerCase())"
                            @click="showSelectedContactChat(index)"
                            :class="activeUser == index ? 'activeContact' : null">
                            <img :src="avatarPath + user.avatar + avatarImgType" class="users_img" :alt="user.name">
                            <!-- message -->
                            <div class="message">
                                <h4>{{user.name}}</h4>
                                <!-- last message -->
                                <p v-if='user.messages[user.messages.length - 1].text.length < 14'>
                                    {{user.messages[user.messages.length -1].text}}</p>
                                <p v-else>{{user.messages[user.messages.length - 1].text.substring(0,14)}}..</p>
                                <span>{{user.messages[user.messages.length - 1].date}}</span>
                            </div>
                        </li>
                    </ul>
                    <div class="add_new_contact" v-if="ulIsEmpty">
                        <p>{{findUsers}} non è tra i tuoi contatti</p>
                        <button id="add_contact" @click='addContact()'>Add</button>
                    </div>
                </nav>
            </section>
        </div>
        <!-- right panel -->

        <div id="ms_main_right" :class="activeTab == 'right' ? 'open' : 'close'">
            <!-- active chat -->
            <section id="active_chat_user" :class='isVideocallActive ? "hide" : null'>
                <div class="active_user_img_name">
                    <i id="back" class="fas fa-arrow-left" @click="activeLeftPanel()"></i>
                    <img :src="avatarPath + contacts[activeUser].avatar + avatarImgType" alt="user image"
                        class="users_img">
                    <div class="active_user_info">
                        <h4>{{contacts[activeUser].name}}</h4>
                        <p>Ultimo accesso oggi alle {{activeUserLastAccess}}</p>
                        <p class="is_writing"  :class="otherUserIsWriting ? 'is_writing active' : null">Typing..</p>
                        <p class="is_calling" :class="isCalling ? 'is_calling active' : null">Calling..</p>
                    </div>
                </div>
                <!-- user icons -->
                <div class="ms_active_user_icons">
                    <i class="fas fa-video" @click='startVideo()'></i>
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </section>

            <!-- active chat messages -->
            <section id="chat" :class='isVideocallActive ? "hide" : null'>
                <div class="chat_container clearfix">
                    <div class="single_message" v-for='(message, index) in contacts[activeUser].messages'
                        :class="message.status == 'sent' ? 'position_r' : message.status == 'received' ? 'position_l' : message.status == 'deleted' ? 'delete_message' : 'new_chat'">
                        <div class="text_message_container" v-if='contacts[activeUser].messages.length > 0'>
                            <div class="text" v-html='message.text'></div>
                            <span class="message_date">{{message.date}}</span>
                            <i class="fas fa-chevron-down" @click="toggleInfo(index)"></i>
                            <div class="message_info" @mouseleave='closeInfo()' style="display: none;">
                                <ul>
                                    <li>Message info</li>
                                    <li @click="deleteMessage(index)">Delete Message</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- typing section -->
            <section id="typing_new_message" :class='isVideocallActive ? "hide" : null'>
                <button class="emoji_btn"><i class="far fa-smile"></i></button>
                <textarea id="text_input" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage()"
                    required cols="180" rows="10"></textarea>
                <button class="send_message" @click="sendMessage()"><i class="far fa-paper-plane"></i></button>
                <button id="mic" :class="isRecStarted ? 'active' : null">
                    <div class="recording">
                        <i class="fas fa-microphone" @click="startRec()" :class="isRecStarted ? null : 'active_mic'"></i>
                        <i class="fas fa-microphone" @click="sendAudio()" :class="isRecStarted ? 'active_mic' : null"></i>
                        <span>{{recMinutes}}:{{recSeconds}}</span>
                    </div>
                    <i class="far fa-trash-alt" @click="deleteAudio"></i>
                </button>
            </section>

            <section id="videocall" :class='isVideocallActive ? "active" : null'>
                <div class="videocall_container">
                    <div class="videocall_top">
                        <h4>{{contacts[activeUser].name}}</h4>
                        <span>{{recMinutes}}:{{recSeconds}}</span>
                        <img :src="avatarPath + contacts[activeUser].avatar + avatarImgType" alt="user image" class="video_img">
                    </div>

                    <div class="videocall_bottom">
                        <button @click='closeVideo()'><i class="fas fa-video-slash"></i></button>
                    </div>
                </div>
            </section>
        </div>

    </div>

    <script src="js/script_bonus.js"></script>
</body>
</html>